<?xml version="1.0"?>
<launch>
    
    <node pkg="aruco_ros" type="marker_publisher" name="aruco_marker_publisher">
		<remap from="/camera_info" to="/limo/color/camera_info" />
		<remap from="/image" to="/limo/color/image_raw" />
		<param name="image_is_rectified" value="True"/>
		<param name="marker_size"        value="0.25"/>
	</node>	
   
    <param name="marker0" command="$(find xacro)/xacro '$(find limo_challenges)/urdf/marker.xacro' marker:=0" />
    <node name="urdf_spawner_marker0" pkg="gazebo_ros" type="spawn_model" args="-urdf -model marker0 -x 1.2 -y 0.2 -z 0.2 -param marker0"/>  
    
    <param name="marker1" command="$(find xacro)/xacro '$(find limo_challenges)/urdf/marker.xacro' marker:=1" />
    <node name="urdf_spawner_marker1" pkg="gazebo_ros" type="spawn_model" args="-urdf -model marker1 -x 3.0 -y 2.5 -z 0.2 -Y 0.5 -param marker1"/>  

    <param name="marker2" command="$(find xacro)/xacro '$(find limo_challenges)/urdf/marker.xacro' marker:=2" />
    <node name="urdf_spawner_marker2" pkg="gazebo_ros" type="spawn_model" args="-urdf -model marker2 -x 4.0 -y 4.5 -z 0.2 -Y 1.57 -param marker2"/>  

    <param name="marker3" command="$(find xacro)/xacro '$(find limo_challenges)/urdf/marker.xacro' marker:=3" />
    <node name="urdf_spawner_marker3" pkg="gazebo_ros" type="spawn_model" args="-urdf -model marker3 -x 3.0 -y 6.5 -z 0.2 -Y 2.6 -param marker3"/>  

    <param name="marker4" command="$(find xacro)/xacro '$(find limo_challenges)/urdf/marker.xacro' marker:=4" />
    <node name="urdf_spawner_marker4" pkg="gazebo_ros" type="spawn_model" args="-urdf -model marker4 -x 0 -y 8.0 -z 0.2 -Y 3.14 -param marker4"/>      

    <param name="marker5" command="$(find xacro)/xacro '$(find limo_challenges)/urdf/marker.xacro' marker:=5" />
    <node name="urdf_spawner_marker5" pkg="gazebo_ros" type="spawn_model" args="-urdf -model marker5 -x -3.0 -y 6.5 -z 0.2 -Y -2.6 -param marker5"/>          
    
    <param name="marker6" command="$(find xacro)/xacro '$(find limo_challenges)/urdf/marker.xacro' marker:=6" />
    <node name="urdf_spawner_marker6" pkg="gazebo_ros" type="spawn_model" args="-urdf -model marker6 -x -4.0 -y 4.5 -z 0.2 -Y -1.57 -param marker6"/>          
    
    <param name="marker7" command="$(find xacro)/xacro '$(find limo_challenges)/urdf/marker.xacro' marker:=7" />
    <node name="urdf_spawner_marker7" pkg="gazebo_ros" type="spawn_model" args="-urdf -model marker7 -x -3.0 -y 2.5 -z 0.2 -Y -0.5 -param marker7"/>              
    
</launch>
