<?xml version="1.0"?>
    <launch>
  
   
    <include file="$(find robot_gazebo)/launch/robot_empty_world.launch" /> 
  
    <include file="$(find robotics_challenges)/launch/Cube.launch">
        <arg name="cube" value="1"/>
        <arg name="x" value="0.2"/>
        <arg name="y" value="0.2"/>
        <arg name="z" value="0.2"/>
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0"/>
    </include>

    <include file="$(find robotics_challenges)/launch/Cube.launch">
        <arg name="cube" value="2"/>
        <arg name="x" value="0.4"/>
        <arg name="y" value="0.2"/>
        <arg name="z" value="0.2"/>
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0"/>
    </include>
    
<!--     <param name="cube1" command="$(find xacro)/xacro '$(find robotics_challenges)/urdf/cube1.xacro'" /> -->
<!--     <node name="urdf_spawner_cube1" pkg="gazebo_ros" type="spawn_model" args="-urdf -model cube1 -x 0.2 -y 0.2 -z 0.2 -param cube1"/>   -->
    
</launch>
